
<div class='fluid-container text-center'>
<%= link_to user_group_path(current_user.id,group.id), method: :get, class: 'row categorieContainer' do %>

            <div class="col-1 md-1"></div>
           <div class="col-1 col-md-1 py-1 img"> <% if group.icon %>
    <span class="material-symbols-outlined img">
      <%= group.icon %>
      </span>
  <% end %>
 </div>
 
            <div class='col-2 col-md-1 py-1'><%= group.name  %></div>
            <div class=' time'><%= time_ago_in_words(group[:created_at])%></div>
            <div class="col-1 md-3"></div>
    <br>
<% end %>
</div>