<header>
  <div class="row">
    <div class="col m-1">
      <a href="/groups">
        <span class="material-symbols-outlined">
          arrow_back
          </span>
      </a>
    </div>
    <div class="col m-1">
      <p>Category</p>
    </div>
    <div class="col">
    </div>
  </div>
</header>