.categorieContainer {
  border: 2px solid #3571b9;
  color: #000;
  text-decoration: none !important;
  background-color: #fff;
  margin-bottom: 7px;
  width: 24rem;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 5rem;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
  src:
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular')
    format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
  src:
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold')
    format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adelle_rgregular';
  src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
  src:
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif !important;
}

h1 {
  font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif !important;
}

.added {
  background-color: #fff;
}

.time {
  text-align: left;
  font-size: 20px;
  margin-left: 15rem;
}

.bts {
  background-color: #60b524;
  width: 16rem;
  height: 4rem;
  margin-left: 7rem;
  margin-top: 1rem;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.btscon {
  margin-top: 15rem;
  background-color: #60b524;
  border: 1px solid #60b524;
  width: 30rem;
  height: 6rem;
}
